
.frame{
  margin: auto;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box{
  position: relative;
  margin: 16px;
  height: 150px;
  width: 150px;
  border-radius: 16px;
  border: 1px solid;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom-corner{
  position: absolute;
  left: 75%;
  top: 75%;
}



.button {
  width: 30px;
  height: 30px;
  background-color: transparent;

  border-radius:8px;
  border:2px solid #fff;
  cursor:pointer;
  color:#fff;
  text-decoration:none;
}
.button:hover {
  background-color:#f6f6f6;
  color:#424242;
}
.button:active {
  background-color:#424242;
}
